.no-results {
    text-align: center;
    padding: 2rem;
    background-color: #151515;
    border-radius: 2px;
    color: #aaa;
}

.search input {
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 2px;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 1.5rem;
    margin: 1.5rem 0;
    align-content: center;
}

.stat-item {
    background-color: #151515;
    padding: 1rem;
    text-align: center;
    border-radius: 2px;
}

.stat-value {
    font-size: 1.8rem;
    font-weight: bold;
    color: #4c657f;
}

.stat-label {
    font-size: 0.8rem;
    color: #aaa;
    margin-top: 0.5rem;
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
    
    .user-menu {
        margin-top: 1rem;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .user-menu img {
        margin-bottom: 0.5rem;
    }
    
    .beatmap-metadata {
        grid-template-columns: 1fr;
    }
    
    table th:nth-child(3), 
    table td:nth-child(3) {
        display: none;
    }
}